// 横幅
.banner
  height 397px
  background-repeat no-repeat
  background-position center top
  text-align center
  color #FFF

  .cont
    padding-top 146px

  h2
  h3
    font-weight normal

  h2
    margin 0
    font-size 40px

  h3
    font-size 20px
    margin 10px 0 0