//合作案例
.solution-case
  background #fff

  .case
    clearfix()
    margin-top 90px

    .case-thumbs
      float left
      padding-right 35px

      img
        size 163px

    .case-desc
      float left
      width 700px

      h4
        margin 0
        font-size 22px
        color #393939

      p
        font-size 14px
        color #6a6a6a
        margin-bottom 25px

      li
        font-size 14px
        color #6a6a6a
        margin-bottom 10px