//合作案例
.solution-case
  background #f6f6f6

  .case
    clearfix()
    margin-top 90px

    for type in deerma milknanny lifesmart aiyiji
      .img-{type}
        float left
        padding-right 35px

        img
          size 163px

      .dialog-{type}
        float left
        width 700px

        h4
          margin 0
          font-size 22px
          color #393939

        p
          font-size 14px
          color #6a6a6a
          margin-bottom 25px

        li
          font-size 14px
          color #6a6a6a
          margin-bottom 10px