// 解决方案排版
.solution-info
  h4
    font-size 22px
    color #393939

  .cont
    clearfix()

    .desc
      float left
      width 390px
      margin-right 50px

      li
        font-size 14px
        color #6A6A6A
        margin-bottom 25px
        line-height 26px