---
page_title: "首页"
stylesheets: ["index"]
body_class: ["home-page"]
services:
  -
    title: "1111"
    desc: "desc11111"
  -
    title: "1111"
    desc: "desc11111"
  -
    title: "1111"
    desc: "desc11111"
  -
    icon: "link"
    label: "desc11111"
---

extends _layout

block content
  .banner

  .adfasf

block scripts
  script(src="#{current.base}scripts/app.js")