---
page_title: "平台介绍"
stylesheets: ["introduction"]
body_class: ["introduction-page"]
intro_nav:
  -
    anchor: "platform-summary"
    label: "平台概览"
  -
    anchor: "platform-structure"
    label: "平台架构"
  -
    anchor: "cloud-device"
    label: "基础云设施"
  -
    anchor: "app-structure"
    label: "应用端架构"
  -
    anchor: "fuction-modules"
    label: "功能模块"
  -
    anchor: "service-modules"
    label: "服务模块"
  -
    anchor: "advantages"
    label: "我们的优势"
  -
    anchor: "app-sdk"
    label: "APP SDK"
  -
    anchor: "embeded-sdk"
    label: "嵌入式SDK"

function_module:
  -
    icon: "service-connect"
    title: "设备连接"
    desc: "实时获取设备状态和数据，实现远程连接和控制"
  -
    icon: "service-inter"
    title: "设备互联"
    desc: "与其它设备或第三方平台，实现设备联动和监控"
  -
    icon: "service-manage"
    title: "设备管理"
    desc: "设备档案、在线状态、在线数量、激活时间等状态管理"
  -
    icon: "user-manage"
    title: "用户管理"
    desc: "对设备对应的多用户状态、行为进行管理与运营"
  -
    icon: "data-collect"
    title: "数据采集"
    desc: "支持自定义任意维度和指标的数据采集方式"
  -
    icon: "count-analysis"
    title: "统计分析"
    desc: "设备和用户行为实现统计、实时分析和离线分析"
  -
    icon: "msg-push"
    title: "消息推送"
    desc: "设备和用户信息营销下发，支持链接、文字等格式"
  -
    icon: "application-manage"
    title: "应用管理"
    desc: "设备对应的APP、Html5等应用的发布、更新等管理"
  -
    icon: "wanrning-service"
    title: "告警服务"
    desc: "包括检测项、检测点、告警规则等，自定义通知"
  -
    icon: "remote-diagnosis"
    title: "远程诊断"
    desc: "设备信息管理、远程诊断、远程调试、固件升级等"
  -
    icon: "operate-module"
    title: "运营模块"
    desc: "用于设备及用户的延伸服务运营，包含内容运营等"
  -
    icon: "more-plug"
    title: "更多插件"
    desc: "菜谱管理、在线咨询、微信商城、售后服务管理等插件"
  ---

extends _layout

block content
  .banner
    .cont
      h2 平台介绍
      h3 服务更多智能设备，为智能设备提供更多服务

  // Start: 内容导航
  nav.intro-nav
    each link, index in intro_nav
      a(href="##{link.anchor}")= link.label
      unless index == intro_nav.length - 1
        i |
  // End: 内容导航

  .section-group
    .container
      .section#platform-summary
        .section-hd 平台概览
        .section-bd
              img(src="#{current.base}images/platform.jpg")
      //- .section#platform-structure
      //-   .section-hd 平台架构
      //-   .section-bd

      .section#app-structure
        .section-hd 应用端架构
        .section-bd
          h6  支持WiFi、蓝牙单品接入，也支持网关模式的多设备接入。并且，内置智能链路策略，能够自适应内外网的连接方式，轻松满足多样化的应用场景。
          img(src="#{current.base}images/application_frame.jpg")

  .section-group.section-group-even
    .container
      .section#fuction-modules
        .section-hd 功能模块
        .section-bd 功能模块描述
      .section#service-modules
        .section-hd 服务模块
        .section-bd 服务模块描述

  .section-group
    .container
      .section#advantages
        .section-hd 我们的优势
        .section-bd 我们的优势描述

  .section-group.section-group-even
    .container
      .section#app-sdk
        .section-hd APP SDK
        .section-bd APP SDK描述

  .section-group
    .container
      .section#embeded-sdks
        .section-hd 嵌入式SDK
        .section-bd 嵌入式SDK描述


block scripts
  script(src="#{current.base}scripts/app.js")