//------------------------------
//- 关于我们页
//------------------------------

// 基础设置
@import 'partials/_settings'

// Nib
@import 'nib'

// 工具
@import "partials/_utilities"

// 占位符
@import "partials/_placeholders"

// 横幅
.banner
  background-image url("../images/bg/banner_about.jpg")

  .cont
    padding-top 170px

// 关于云智易
.about-xlink
  .section-bd
    clearfix()

    .orn
      size 410px 230px
      float right

      img
        display block

    .cont
      font-size 16px
      margin-right 460px

      p
        line-height 28px
        margin 10px 0

// 联系我们
.contact-us
  .section-bd
    clearfix()
    padding-top 80px

    .orn
      size 412px 313px
      padding-top 20px
      float right

      img
        display block

    .cont
      font-size 16px
      margin-right 452px

      dl
        margin 0

      dt
        font-size 20px
        padding-top 20px

      dd
        margin 0

      p
        line-height 28px
        margin 10px 0