// 基础设置
@import 'partials/_settings'

// Nib
@import 'nib'

// 工具
@import "partials/_utilities"

// 重置
@import "partials/_reset"

// 定制
@import "partials/_customize"

// 占位符
@import "partials/_placeholders"

// 助手类
@import "partials/_helpers"

//------------------------------
//- 元件
//------------------------------

// 按钮
@import "partials/components/_button"

// 布局
.container
  width 960px
  margin 0 auto
  position relative

// 页头
@import "partials/_header"

// 页脚
@import "partials/_footer"
