//------------------------------
//- 关于我们页
//------------------------------

// 基础设置
@import 'partials/_settings'

// Nib
@import 'nib'

// 工具
@import "partials/_utilities"

// 占位符
@import "partials/_placeholders"

// 背景
.case-page
  background #F6F6F6

// 横幅
.banner
  background-image url("../images/bg/banner_case.jpg")

  .cont
    padding-top 170px

// 案例列表
.case-list
  width 1032px
  margin 0 auto
  padding 127px 0

  ul
    reset-list()
    clearfix()

  li
    float left
    size 290px 740px
    margin 0 27px
    background #FFF
