//------------------------------
//- 关于我们页
//------------------------------

// 基础设置
@import 'partials/_settings'

// Nib
@import 'nib'

// 工具
@import "partials/_utilities"

// 占位符
@import "partials/_placeholders"

// 背景
.case-page
  background #F6F6F6

// 横幅
.banner
  background-image url("../images/bg/banner_case.jpg")

  .cont
    padding-top 170px

// 案例列表
.case-list
  width 1032px
  margin 0 auto
  padding 57px 0 200px

  ul
    reset-list()
    clearfix()

  li
    float left
    size 290px 740px
    margin 70px 27px 0
    background #FFF
    overflow hidden

    .thumb
      img
        display block

    h3
      margin 0
      padding 20px 30px 16px
      font-size 20px
      font-weight normal

    .desc
      font-size 13px
      padding 0 30px
      height 290px
      overflow auto

      p
        margin 0
        line-height 26px

    .logos
      height 90px
      line-height 90px

      img
        vertical-align middle
        margin-left 30px
