//------------------------------
//- 开发者页
//------------------------------

// 基础设置
@import 'partials/_settings'

// Nib
@import 'nib'

// 工具
@import "partials/_utilities"

// 占位符
@import "partials/_placeholders"

//- 内容导航
@import "partials/_content-nav"

// 横幅
.banner
  background-image url("../images/bg/banner_developer.jpg")

//开发者下载
#developer-download
  .section-bd
    clearfix()

    .download
      float left
      width 280px
      margin 0 20px
      text-align center

      i
        display inline-block
        size 120px
        background-image url("../images/bg/icon_developer.png")
        background-repeat no-repeat

      for type,index in document mcu app
        offset-y= -150px * index
        .icon-{type}
          background-position 0 offset-y

      h4
        color #393939
        font-size 18px
        font-weight bold

      p
        font-size 12px
        color #535353

      a
        font-size 12px
        color red
        margin 0 10px

//开发者下载

//开发板
.developer-demoboard
    background #f6f6f6

    #developer-demoboard
      h4
        font-size 16px
        color #737373

      .demoboard
        text-align center

        img
          padding 120px 0
//开发板
