// 基础设置
@import 'partials/_settings'

// Nib
@import 'nib'

// 工具
@import "partials/_utilities"

// 占位符
@import "partials/_placeholders"

// 横幅
.banner-home
  position relative
  size 100% 424px
  background url("../images/bg/banner_home.jpg") no-repeat center top

  .cont
    text-align center
    color #FFF
    padding-top 104px

    h2
      margin 0
      font-size 47px

    h3
      margin 0
      font-size 30px
      font-weight normal

    .actions
      margin-top 66px

$main-h3
  color red
  font-size 40px
  margin 0
$main-p
  color #393939
  font-size 20px

//消息
.main-news
  width 100%
  background #ebebeb

  ul
    width 880px
    margin 0 auto
    padding 13px 0
    clearfix()

    li
      float left
      width 350px
      margin-left 80px
      color #393939

      &:hover
        color red

      &:hover a
        color red

      a
        font-size 14px
        color #393939


// 智能化时代
.main-smart
  text-align center
  padding 70px 0px

  h3
    @extend $main-h3

  p
    @extend $main-p

  ul
    reset-list()
    clearfix()
    margin-top 80px

    li
      float left
      width 65px
      height 101px
      padding 0 27px
      text-align center

      i
        display inline-block
        size 51px
        background-image url("../images/bg/icon_function.png")
        background-repeat no-repeat

      for type, index in connect manage user warning longrange upgrade collect excavate
        offset-y= -70px * index
        .icon-{type}
          background-position 0 offset-y

      h4
        color #393939
        font-size 16px
        text-align center
        margin 0
        margin-top 20px

// 提供专业的物联网+服务
.main-service
  text-align center
  background-color #f3f3f3
  padding 70px 0

  h3
    @extend $main-h3

  ul
    reset-list()
    clearfix()
    padding 70px 0 20px 0

    li
      float left
      width 204px
      height 225px
      padding 0 18px

      i
        display inline-block
        size 101px
        background-image url("../images/bg/icon_service.png")
        background-repeat no-repeat

      for type, index in lowcost netural backstage oneforone
        y= -110px * index
        .icon-{type}
          background-position 0 y

      h4
        font-size 16px
        color #393939
        font-weight bold

      p
        font-size 12px
        color #464646


// 免费开通
.main-opening
  background-color red
  text-align center
  color #FFF
  padding 26px 0
  clearfix()

  .mr70
     margin-right 70px

  .mr60
    margin-right 60px

  .mr30
    margin-right 30px

  .sec
    float left
    display inline-block
    height 58px
    line-height 58px

    span
      font-size 20px

    em
      font-size 30px
      font-style normal

    .btn-lg
      float left
      color #fff !important
      padding 0 44px

//云智易物联平台
.main-cooperation
  background-color #f3f3f3
  text-align center
  padding 70px 0 100px

  h3
    @extend $main-h3

  p
    @extend $main-p

  .container
     width 985px

  .customer
    padding-top 70px
    clearfix()

    img
      float left
      margin 0px 7px 7px 0

//媒体报道
.main-media
  background-color #FFF
  padding 40px 0 80px
  clearfix()

  h4
    font-size 26px
    color red

  ul
    float left

    li
      list-style disc
      color red
      margin-bottom 15px

      a
        color #6F6F6F
        font-size 14px

  .media-pictures
    float right
    text-align center

    .picture
      display inline-block
      width 270px
      text-align center

      a
        display inline-block

        span
          display inline-block
          padding 15px 0
          color #454545
          font-size 14px






