// 基础设置
@import 'partials/_settings'

// Nib
@import 'nib'

// 工具
@import "partials/_utilities"

// 占位符
@import "partials/_placeholders"

// 智能化时代
$main-h3
	color red
	font-size 40px
$main-p
	color #393939
	font-size 20px
.main-smart
	text-align center
	
	h3
		@extend $main-h3
	

	