// 基础设置
@import 'partials/_settings'

// Nib
@import 'nib'

// 工具
@import "partials/_utilities"

// 占位符
@import "partials/_placeholders"

// 横幅
.banner
  size 100% 510px
  background url("../images/bg/banner_home.jpg") no-repeat center top

$main-h3
  color red
  font-size 40px

$main-p
  color #393939
  font-size 20px

// 智能化时代
.main-smart
  text-align center

  h3
    @extend $main-h3

  p
    @extend $main-p

  ul
    reset-list()




