//------------------------------
//- 平台介绍页
//------------------------------

// 基础设置
@import 'partials/_settings'

// Nib
@import 'nib'

// 工具
@import "partials/_utilities"

// 占位符
@import "partials/_placeholders"

// 横幅
.banner
  background-image url("../images/bg/banner_instruction.jpg")

// 内容导航
.intro-nav
  font-size 0
  text-align center
  padding 22px
  background #F7F9FB

  a
  i
    display inline-block
    line-height 30px

  i
    font-size 20px
    color #D2D2D2
    margin 0 30px

  a
    font-size 16px
    color #727272

// 内容
.section-group
  background #FFF
  padding-top 40px

  .section
    padding-bottom 100px
    padding-top 40px

  .section-hd
    font-size 24px
    border-left 4px solid red
    padding-left 10px
    height 28px
    line-height 28px

.section-bd
    padding-top 20px

.section-group-even
  background #F7F9FB

//平台概览
#platform-summary
  padding-bottom 300px


//应用端架构
#app-structure
  h3
    color #424242
    font-weight normal
    font-size 16px

  img
    margin 180px 0


//功能模块
#fuction-modules
  clearfix()

  .module
    float left
    width 480px
    padding 18px 0
    clearfix()

    i
      float left
      size 45px
      padding 13px
      background-image url("../images/bg/icon_functionmodule.png")
      background-repeat no-repeat

    for type, index in service-connect service-inter service-manage user-manage data-collect count-analysis msg-push application-manage wanrning-service remote-diagnosis operate-module more-plugin
        y= -100px * index + 2px
        .icon-{type}
          background-position 0 y

    .module-text
      float left

      h4
        margin 0
        font-size 16px
        color red

      p
        margin 0
        font-size 14px
        color #343434

//我们的优势
#advantages
  .section-bd
    clearfix()

  .point
    float left
    width 200px
    margin 45px 40px 45px 0
    text-align center

    i
      display inline-block
      size 110px
      background-image url("../images/bg/icon_advantage.png")
      background-repeat no-repeat

     for type, index in simple matural safe performance opening compatible platform globalization service cost model
        y= -120px * index
        .icon-{type}
          background-position 0 y

    h4
      font-size 20px
      color red

    p
      font-size 13px
      color #464646

//APP SDK
#app-sdk
  div
    clearfix()

  img
    float left
    padding 70px

  .app-img
    margin-top 40px

  .app-sdk-text
    float left

    h4
      font-size 20px
      color red

    li
      color red
      margin-bottom 10px

      span
        color #3e3e3e
        font-size 15px

//嵌入式SDK
#embeded-sdks
    h3
      color #424242
      font-weight normal
      font-size 16px

    .embeded-img
      text-align center

      img
        padding 130px 0

    .embeded-block
      clearfix()

      ul
        h4
          color red
          font-size 20px

        li
          color red
          margin-bottom 15px

          span
            color #313131
            font-size 15px

      .wifi-function
        float left

      .integration-way
        float right

//应用场景
#application-scene
  clearfix()

  .scenes
    float left
    width 190px
    text-align center
    margin 40px 50px 40px 0

    i
      display inline-block
      size 160px
      background-image url("../images/bg/icon_scene.png")
      background-repeat no-repeat

     for type, index in smart family environment source lighting security monitor
        y= -200px * index
        .icon-{type}
          background-position 0 y
    h4
      font-size 16px
      color #000
    p
      font-size 14px
      color #6a6a6a









