//------------------------------
//- 平台介绍页
//------------------------------

// 基础设置
@import 'partials/_settings'

// Nib
@import 'nib'

// 工具
@import "partials/_utilities"

// 占位符
@import "partials/_placeholders"

// 横幅
.banner
  background-image url("../images/bg/banner_instruction.jpg")

// 内容导航
.intro-nav
  font-size 0
  text-align center
  padding 22px
  background #F7F9FB

  a
  i
    display inline-block
    line-height 30px

  i
    font-size 20px
    color #D2D2D2
    margin 0 30px

  a
    font-size 16px
    color #727272

// 内容
.section-group
  background #FFF
  padding-top 40px

  .section
    padding-bottom 100px
    padding-top 40px

  .section-hd
    font-size 24px
    border-left 4px solid red
    padding-left 10px
    height 28px
    line-height 28px

.section-bd
    padding-top 20px

.section-group-even
  background #F7F9FB

//平台概览
#platform-summary
  padding-bottom 300px
