//------------------------------
//--nest方案页
//------------------------------

// 基础设置
@import 'partials/_settings'

// Nib
@import 'nib'

// 工具
@import "partials/_utilities"

// 占位符
@import "partials/_placeholders"

// 横幅
.banner
  background-image url("../images/bg/banner_solution.jpg")

// 内容导航
.intro-nav
  font-size 0
  text-align center
  padding 22px
  background #F7F9FB

  a
  i
    display inline-block
    line-height 30px

  i
    font-size 20px
    color #D2D2D2
    margin 0 30px

  a
    font-size 16px
    color #727272

//homekit方案
#solution-nest
  h4
    font-size 22px
    color #393939

  .nest
    clearfix()

    .nest-dialog
      float left
      width 365px
      margin-right 50px

      li
        font-size 14px
        color #6A6A6A
        margin-bottom 25px

//合作案例
.solution-case
  background #f6f6f6

  .case
    clearfix()
    margin-top 90px

    for type in deerma milknanny lifesmart aiyiji
      .img-{type}
        float left
        padding-right 35px

        img
          size 163px

      .dialog-{type}
        float left
        width 700px

        h4
          margin 0
          font-size 22px
          color #393939

        p
          font-size 14px
          color #6a6a6a
          margin-bottom 25px

        li
          font-size 14px
          color #6a6a6a
          margin-bottom 10px