//------------------------------
//--homekit方案页
//------------------------------

// 基础设置
@import 'partials/_settings'

// Nib
@import 'nib'

// 工具
@import "partials/_utilities"

// 占位符
@import "partials/_placeholders"

// 案例
@import "partials/_case"

//- 内容导航
@import "partials/_content-nav"

// 横幅
.banner
  background-image url("../images/bg/banner_wechat.jpg")

//homekit方案
#solution-homekit
  h4
    font-size 22px
    color #393939

  .homekit
    clearfix()

    .homekit-dialog
      float left
      width 365px
      margin-right 50px

      li
        font-size 14px
        color #6A6A6A
        margin-bottom 25px

//微信方案
.solution-wechat
  clearfix()

  .wechat-question
    float left
    width 550px
    margin-right 80px

    h4
      font-size 16px
      color #464646
      margin-top 40px

    p
      font-size 14px
      color #6a6a6a
      line-height 25px

    .wechat-answer
      text-indent 2em

  .wechat-picture
    float left
    width 326px

    img
      width 326px
      margin-top 90px


//微信应用方案
.application-case
  .section-bd
    margin-top 40px

  .wechat-case
    clearfix()

    i
      float left
      display inline-block
      size 40px
      margin 8px
      background-image url("../images/bg/icon_wechat.png")
      background-repeat no-repeat

    for type,index in store shop card pay custom
      offset-y= -50px * index
      .icon-{type}
        background-position 0 offset-y

    .case-text
      float left
      width 840px
      height 56px
      margin-left 8px
      color #747474
      padding-top 8px

      em
        font-style normal
        font-size 16px
        margin-right 5px

      span
        font-size 14px


